body {
  font-family: Roboto, Arial;
  margin: 0;
  background-color: rgb(5, 5, 65);
  zoom: 150%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

/* Styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
  body {
    zoom: 70%;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  body {
    zoom: 80%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  body {
    zoom: 90%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  body {
    zoom: 100%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  body {
    zoom: 110%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  body {
    zoom: 120%;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
  body {
    zoom: 130%;
  }
}

@media screen and (min-width: 1700px) and (max-width: 1800px) {
  body {
    zoom: 140%;
  }
}

/* Styles for screens larger than 1600px */
@media screen and (min-width: 1800px) {
  body {
    zoom: 150%;
  }
}

.header {
  margin: -1;
  height: 55px;
  border: 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: rgb(234, 187, 69);
  /*box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);*/
  padding-top: 10px;

}

.title-header {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  color: lightblue;
}

.menu-header {
  height: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.button-menu-header-i,
.button-menu-header-r,
.button-menu-header-u,
.button-menu-header-f,
.button-menu-header-p,
.button-menu-header-c,
.button-menu-header-a {
  margin-top: -1px;
  font-size: 20px;
  height: 40px;
  width: fit-content;
  border: 0px;
  background-color: rgb(5, 5, 65);
  color: lightblue;
}

.button-menu-header-c {
  background-color: rgb(234, 187, 69);
  color: rgb(2, 39, 72);
}

.button-menu-header-i:hover,
.button-menu-header-r:hover,
.button-menu-header-u:hover,
.button-menu-header-f:hover,
.button-menu-header-p:hover,
.button-menu-header-a:hover {
  background-color: rgb(234, 187, 69);
  opacity: 0.75;
  transition: background-color 0.15s;
  color: rgb(2, 39, 72);
}

.content {
  position: relative;
  margin-top: 80px;
}

.content-left {
  margin-top: -50px;
  position: relative;
  float: left;
  margin-right: 20px;
  margin-left: 30px;
}

.content-right {
  position: relative;
  float: right;
  margin-top: -20px;
  margin-right: 20px;
}

.text-window {
  color: black;
}

#code {
  width: 200px;
  height: 300px;
  resize: none;
}

#code::selection {
  background-color: yellow;
}

.buttons-window {
  size: 100px;
}

p {
  font-family: Roboto, Arial;
  font-size: 17px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.index {
  color: white;
}

.vector-row {
  display: flex;
  flex-direction: row;
}

.vector-column {
  display: flex;
  flex-direction: column;
}

.vector-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  border: 1px solid white;
  text-align: center;
}

.vector-index {
  display: block;
  color: white;
  font-size: smaller;
}

.rad-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.rad-column {
  display: flex;
  flex-direction: column;
}

.rad-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  border: 1px solid white;
  text-align: center;
}

.rad-index {
  display: block;
  color: white;
  font-size: smaller;
}

.unire-row {
  display: flex;
  flex-direction: row;
}

.unire-column {
  display: flex;
  flex-direction: column;
}

.unire-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  border: 1px solid white;
  text-align: center;
}

.unire-index {
  display: block;
  color: white;
  font-size: smaller;
}

.button {
  background-color: rgb(234, 187, 69);
  border: 1px;
  border-radius: 1.5px;
  color: rgb(5, 5, 65);
}

.button:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.content-images {
  display: flex;
}

img {
  width: 250px;
  height: 270px;
  margin-top: 10px;
  margin-right: 10px;
  zoom: 1;
}